<ion-view>
  <ion-content>
  <div class="bar bar-clear">
    <button ng-click="back()" class="button button-clear button-dark ion-backspace"></button>
  <button ng-click="getMoreInfo(searchCityMainInfo.display_location.latitude,searchCityMainInfo.display_location.longitude)"
          ui-sref="app.moreInfo" class="button button-clear button-dark "
          ng-controller="moreInfoCtrl">more</button>
</div>
    <br>
    <br>
    <br>
    <br>
    <h1> {{searchCityMainInfo.display_location.full}}</h1>
    <h1>{{searchCityMoreInfo.forecast.simpleforecast.forecastday[0].date.pretty}}</h1>
    <button ng-hide="" ng-controller="cityCtrl"
            class="button button-royal"
            ng-click="addCityInList(searchCityMainInfo.display_location.full,
                                    searchCityMainInfo.display_location.latitude,
                                    searchCityMainInfo.display_location.longitude)">
      add city
    </button>
</ion-content>
</ion-view>
