<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent">

    </ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
    <ion-list>
      <ion-item menu-close href="#app/main">
        <i class="ion-home"></i> Main
      </ion-item>
      <ion-item menu-close href="#app/search">
        <i class="ion-search"></i> Search
      </ion-item>
      <ion-item ng-if="$root.cityArray.length > 0" menu-close href="#app/cityList">
        <i class="ion-android-list"></i> My list
      </ion-item>
      <ion-item menu-close href="#app/settings">
        <i class="ion-gear-a"></i> Settings
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
