<div class="container-fluid mkill pkill bg">
  <!--header-->
  <div class="bar-header bar-clear">
    <button class="button button-large button-icon ion-android-arrow-back" ng-click="back()"></button>
  </div>
  <!--main block-->
  <div class="col-lg-12 col-sm-12  col-xl-12 col-xs-12 pkill">
    <div class="col-sm-12  col-xl-12 col-xs-12 text-center mainBlock">
      <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick">
      </canvas>
    </div>
    <!--second block-->
    <div class="col-lg-12 col-sm-12 col-xl-12 col-xs-12" style="background: none">

    </div>
  </div>
</div>



